[Desktop Entry]
Name=1Password
Exec=sh -c "/usr/bin/1password --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto"
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
