[Desktop Entry]
Name=1Password
GenericName=1Password
Comment=1 Password application
TryExec=1password
Exec=1password
Terminal=false
Type=Application
Keywords=1Password,pass,passoword,password manager,one,one password;
Icon=1Password
Categories=Utility;Passowrd;
StartupNotify=false
