* {
	background-image: none;
}

window {
	background-color: rgba(88, 91, 112, 0.9);
}

button {
  color: rgb(205, 214, 244);
	background-color: rgb(30, 30, 46);
	border-style: solid;
	border-width: 2px;
  border-color: rgb(203, 166, 247);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  border-radius: 0;
}

button:focus, button:active, button:hover {
	background-color: rgb(17, 17, 27);
	outline-style: none;
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
