[submodule "phpcs/PHP_CodeSniffer"]
	path = phpcs/PHP_CodeSniffer
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
