[submodule "vim"]
	path = vim
	url = git@github.com:adikari/vim-config.git
[submodule "powerline"]
	path = powerline
	url = git@github.com:adikari/powerline-config.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:adikari/tmux-config.git
[submodule "zsh"]
	path = zsh
	url = git@github.com:adikari/zsh-config.git
