node_modules
Session.vim
*.swp
*.log
scratch.txt
*.target.wants
.ssh
.zcompdump
.mailsynclastrun
.calendarsynclastrun

vim/.netrwhist
vim/plugged

temp_dirs/undodir*
temp_dirs/yankring_history_v2.txt

config/tmux/plugins
config/gh/hosts.yml
configs/karabiner/automatic_backups

home/.aws/config.lock
home/.aws/credentials*
home/.aws/saml*

config/mailctl/services.yaml
config/mailctl/config.yaml

*.kbx*
private-keys*

local/share/z
local/share/zsh
local/share/nvim
local/share/fnm
