[user]
  name = subash
  email = me@subash.com.au
	signingkey = ~/.ssh/github_id_rsa.pub

[url "git@github.com:"]
    insteadOf = https://github.com/

[core]
  ignorecase = false
  filemode = false
  editor = nvim
  
[color]
  ui = true

[log]
  date = relative

[format]
  pretty = format:%C(yellow)%h %Cblue %ad %Cgreen %aN%Cred%d %Creset%s

[diftool]
  prompt = false

[credential]
  helper = cache --timeout 7200

[init]
  defaultBranch = main

[pull]
  rebase = true

[gpg]
  format = ssh
  
[commit]
  gpgsign = true

