[Unit]
Description=RClone Drive Mounts
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/rclone-drives --mount
ExecStop=/usr/local/bin/rclone-drives --umount
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
