[Unit]
Description=Zotero Headless Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/zotero --headless
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
