@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  min-height: 0;
  color: @text;
  text-shadow: unset;
}

#window {
  border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
}


window#waybar {
  background-color: alpha(@base, 0.3);
}

window#waybar button {
  box-shadow: none;
}

tooltip {
  border-radius: 10px;
  border: 2px solid @surface1;
  background-color: alpha(@surface1, 0.95);
}

tooltip label{
  color: @text;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#workspaces {
  padding-right: 0;
  padding-left: 0;
}

#workspaces button {
  padding: 3px; 
  margin-right: 0px;
}

#workspaces button label {
  color: alpha(@text, 0.4);
  font-size: 16px;
}

#workspaces button.active label {
  color: @text;
}

#workspaces button:hover {
  background: alpha(@surface2, 0.4);
}

#taskbar button:hover label {
  color: @base
}

#taskbar button:hover {
  background: alpha(@surface2, 0.4);
}

#custom-weather,
#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
  background: rgba(21, 18, 27, 0);
  opacity: 1;
  padding: 0px 8px;
  margin: 0px 3px;
  border: 0px;
}

#tray {
  margin: 0;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

#temperature.critical {
  color: @red;
}
