@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-color #cdd6f4;
@define-color main-bg #11111b;

@define-color tool-bg #1e1e2e;
@define-color tool-color #cdd6f4;
@define-color tool-border #11111b;

@define-color wb-color #cdd6f4;

@define-color wb-act-bg #cba6f7;
@define-color wb-taskbar-act-bg #a6adc8;
@define-color wb-act-color #313244;

@define-color wb-hvr-bg #f5c2e7;
@define-color wb-hvr-color #313244;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 11px;
  min-height: 10px;
  background: none;
}

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @tool-bg;
  color: @tool-color;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: @tool-border;
}

#workspaces button, #taskbar button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  margin-left: 3px;
  padding-left: 3px;
  padding-right: 3px;
  color: @wb-color;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active, #taskbar button.active {
  background: @wb-act-bg;
  color: @wb-act-color;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
  background: @wb-taskbar-act-bg;
}

#workspaces button:hover, #taskbar button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-color;
  padding-left: 6px;
  padding-right: 6px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#cpu,
#memory,
#battery,
#clock,
#workspaces,
#window,
#taskbar,
#network,
#bluetooth,
#pulseaudio,
#mpris,
#idle_inhibitor,
#custom-weather,
#custom-updates,
#custom-wallchange,
#custom-mode,
#custom-cliphist,
#custom-power,
#custom-wbar,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end,
#tray {
  color: @main-color;
  background: @main-bg;
  opacity: 1;
  margin: 4px 0px 4px 0px;
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces,
#taskbar {
  padding: 0px;
}

#custom-r_end {
  border-radius: 0px 21px 21px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-l_end {
  border-radius: 21px 0px 0px 21px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-sr_end {
  border-radius: 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-sl_end {
  border-radius: 0px;
  margin-left: 9px;
  padding-left: 3px;
}

#custom-rr_end {
  border-radius: 0px 7px 7px 0px;
  margin-right: 9px;
  padding-right: 3px;
}

#custom-rl_end {
  border-radius: 7px 0px 0px 7px;
  margin-left: 9px;
  padding-left: 3px;
}

