 ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="0", RUN+="/usr/bin/su subash -c '/home/subash/.local/bin/battery-charging discharging'"
 
 ACTION=="change", SUBSYSTEM=="power_supply", ATTR{type}=="Mains", ATTR{online}=="1", RUN+="/usr/bin/su subash -c '/home/subash/.local/bin/battery-charging charging'"

