[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=betterbird %u
Terminal=false
Type=Application
Icon=thunderbird
Categories=Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;application/x-xpinstall;application/x-extension-ics;text/calendar;text/vcard;text/x-vcard;x-scheme-handler/webcal;x-scheme-handler/webcals;x-scheme-handler/mid;
StartupNotify=true
StartupWMClass=betterbird
Actions=ComposeMessage;OpenAddressBook;
Name=Betterbird
GenericName=Mail Client
Keywords=Email;E-mail;Newsgroup;Feed;RSS;Thunderbird;Addressbook;Calendar

[Desktop Action ComposeMessage]
Name=Write new message
Exec=betterbird -compose

[Desktop Action OpenAddressBook]
Name=Open address book
Exec=betterbird -addressbook
