[Desktop Entry]
Name=ikhal
GenericName=Calendar application
Comment=Terminal CLI calendar application
TryExec=ikhal
Exec=kitty --title calendar -e ikhal
Terminal=false
Type=Application
Keywords=Calendar;editor;
Icon=calendar
Categories=Utility;Calendar;Tasks;Todo;
StartupWMClass=calendar
StartupNotify=false
MimeType=text/calendar
